* {
	
}
.aux {
	border: 1px solid green;
}
* {
	margin: 0px;
	padding: 0px;
}
body{
	height: 100%;
	margin: auto;
	background: url(imagens/banner3low.jpg) repeat;
	border: 0px solid blue;
	background-attachment: fixed;
	background-size: 100%;
}
html{
	height: 100%;
}
#topo {
	background: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	background: rgba(0,0,0,0.6);
}
.logo-centro{
}
.navbar {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.6);
	border: 0px solid yellow;
	text-align: center;
	margin-bottom: 0px;
}
#barra-navegacao {
	margin-top: 0px;
	border: none;
}
.navbar-default .navbar-nav > li > a {
	color: #aaa;
	transition: 0.3s;
	border-radius: 30px 0 30px 0;
}
.navbar-default .navbar-nav > li > a:hover {
	background: pink;
	color: #fff;
	transition: 0.3s;
	border-radius: 30px 0 30px 0;
	box-shadow: 0 0 20px pink;
}
#inicio {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 0px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	margin-bottom: 0px;
}
.img-psiu {
	width: 550px;
}
.navbar-fixed-top {
	background: rgba(0,0,0,0.6);
}
#quem-somos-main {
	width: 100%;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}
.quem-somos1 {
	width: 40%;
	margin: 90px 0px 0px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.quem-somos1>h2 {
	color: purple;
	font-family: fantasy;
	font-weight: bold;
}
.quem-somos2 {
	width: 60%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.quem-somos-img {
	width: 45%;
	margin: 10px;
}
