<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Amor e Fetiches --- Boutique Sensual Delivery</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="estilo.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="queries.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav id="meuMenu" class="navbar navbar-fixed-top navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#barra-navegacao">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        
        <div  class="collapse navbar-collapse" id="barra-navegacao">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#quem-somos-main">HOME</a></li>
            <li><a href="#">QUEM SOMOS</a></li>
            <li><a href="#">CHÁ DE LINGERIE</a></li>
            <li><a href="#">PRODUTOS</a></li>
            <li><a href="#">CONTATOS</a></li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Minha Conta<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Editar</a></li>
                <li><a href="#">Editar</a></li>
              </ul>
            </li>-->
          </ul>
        </div>
    </nav>


    <section id="inicio">
      <img class="logo-centro" src="imagens/af1.png">
      <img class="img-psiu" src="imagens/psiu.png">
    </section>


    <section id="quem-somos-main">
      <div class="quem-somos1 aux">
        <h2 class="">Quem Somos</h2>
        <p  class="">Olá, somos a Amor e Fetiches Chá de Lingerie e gostaríamos muito de conhecer você e suas amigas, levaremos a diversão e produtos maravilhosos que apimentam??? ainda mais sua vida a dois.
        </p>
      </div>
      <div class="quem-somos2 aux">
        <img class="quem-somos-img" src="imagens/bolo1.jpeg">
        <img class="quem-somos-img" src="imagens/bolo1.jpeg">
        <img class="quem-somos-img" src="imagens/bolo1.jpeg">
        <img class="quem-somos-img" src="imagens/bolo1.jpeg">
      </div>
    </section>


    <section id="cha-lingerie"></section>

    
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        $('[data-toggle="popover"]').popover()
      })
    </script>

    <script type="text/javascript">
      var offset = $('#muMenu').offset().top;
var $meuMenu = $('#muMenu'); // guardar o elemento na memoria para melhorar performance
$(document).on('scroll', function () {
    if (offset <= $(window).scrollTop()) {
        $meuMenu.addClass('navbar-fixed-top');
    } else {
        $meuMenu.removeClass('navbar-fixed-top');
    }
});
    </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>