/* Media queries */
/* xs < 768 */
@media screen and (max-width: 767px) {
	#topo {
		borders: 4px solid red;
	}
	.img-topo{
	width: 120px;
	}
	.nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	}
	.inicio-1 {
		height: 75%;
	}
}

/* sm */
@media screen and (min-width: 768px) {
	#topo {
		borders: 4px solid green;
	}
	.img-topo{
	width: 140px;
	}
}


/* md */
@media screen and (min-width: 992px) {
	#topo {
		borders: 4px solid pink;
	}
	.img-topo{
	width: 150px;
	}
}


/* lg */
@media screen and (min-width: 1200px) {
	#topo {
		borders: 4px solid white;
	}
	.img-topo{
	width: 150px;
	}
}

/* Fim Media queries */